<app-navbar />
<section >
    <h1>FERTILIZER</h1>
    <div class="gal-section">
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../../assets/images/RR.jpg" alt="" /><br>
        </div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../../assets/images/KK.jpg" alt="" /><br>
        </div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../../assets/images/KY.jpg" alt="" /><br>
        </div>
    </div>
</section>
<app-footer />
