<div class="footer">
<div class="bg">
    <div class="footer-flex">
        <div class="segment">
            <h2>ABOUT US</h2>
            <P><b>Nethi Export And Import </b> is an emerging Exporter, Trader, Supplier & Importer of various  Products 
                in the market. Based at Tamil Nadu (India), we are your gateway to global markets. Specializing in 
                international trade, we take pride in facilitating seamless exports to destinations around the world. 
                Our mission is to [briefly state your company's mission or values], ensuring our clients experience 
                unparalleled service in the realm of global commerce.</P>
        </div>
        <div class="segment">
            <h2>CONTACT US</h2>
            <p>NO : 8/545,b.kpudur, kuniyamuthur, palakad main road,<br /> Coimbatore-641008, Tamil Nadu, India</p>
            <p>Mr G. ARUN KUMAR (Managing Director)</p>
            <p>Mobile : +91 8248339060, +91 8248339060</p>
            <p>Mail : nethiexportandimport@gmail.com</p>
        </div>
        <div class="segment">
            <h2>REACH US</h2>
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe src="https://maps.google.com/maps?q=b.kpudur,Coimbatore-641008&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" class="map" style="width: auto; height: auto;">
                    </iframe><style>.mapouter{position:relative;background:rgba(2, 45, 85, 0);} .maprouter a{color:#fff !important;position:absolute !important;top:0 !important;z-index:0 !important;}</style>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
