.footer{
    margin: 0 auto;
    background-color: rgba(2, 45, 85, 0.692);
    width: 100%;
    color: white;
    padding: 20px 0;
}
.footer-flex{
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 30px;
}
.segment{
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    line-height: 30px;
    word-spacing: 7px;
    width: 90%;
}
@media screen and (max-width: 1000px) {
    .footer-flex{
        display: block;
    }
}
@media screen and (max-width: 700px) {
    .segment{
        width: 80%;
    }
}
@media screen and (max-width: 500px) {
    .footer{
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .segment{
        margin: 0 auto;
        width: 80%;
        line-height: 25px;
        word-spacing: 3px;
    }
    iframe{
        width: 350px;
    }
}