<header class="navbar">
<div>
    <a class="brand" href="#">Hello <span>{{role}}</span></a>
</div>
<div class="nav">
<a class="signOut" (click)="logout()">Sign out</a>
</div>
</header>

<div class="">
<div class="">
<ng-container *ngIf="role === 'Admin'">
<div class="table-container">
<h2>Employee List</h2><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i= index">
                <td>{{i+1}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
            </tr>

        </tbody>
    </table>
</div>
</ng-container>
