body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    background-color: black;
    padding: 15px 8px;
}
a{
    text-decoration: none;
    color: white;
}
.table-container{
    margin: 20px auto;
    text-align: center;
    max-width: fit-content;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
td,th{
    padding: 10px 10px;
    border-collapse: collapse;
    border: 1px solid black;
}
table{
    margin: 0 auto;
}
tr:nth-child(even) {
    background-color: rgb(230, 230, 230);
}
.signOut:hover{
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    color: black;
}