<div class="contact-header">
    <div class="text-align-header">
        <h1>ABOUT US</h1>
    </div>
</div>
<!-- <div class="abt-page"> -->

<div class="ng-home-about">
    <div class="ng-about-img">
      <img class="abt-img" src="../../assets/images/small-onoin.jpg" alt="" />
    </div>
    <div class="ng-about">
      <h1>NETHI IMPORT AND EXPORT</h1>
      <P><b>Nethi Export And Import </b> is an emerging Exporter, Trader, Supplier & Importer of various  Products 
            in the market. Based at Tamil Nadu (India), we are your gateway to global markets. Specializing in 
            international trade, we take pride in facilitating seamless exports to destinations around the world. 
            Our mission is to [briefly state your company's mission or values], ensuring our clients experience 
            unparalleled service in the realm of global commerce.</P>
      <P>Manufacturer / Exporter / Supplier / Retailer Of  vermicompost, animal dung, animal feed, carbon, 
        millets, jaggery, snacks, organic food products and cosmetic products, cashew nuts, 100% Natural Fresh 
        Indian Coconut, Natural Fresh Red Onion, Printed Packaging Box, Textiles, Fresh Coconuts & its byproducts,
         Fresh Vegetables & fruits,e.</P>
    </div>
</div>

<div class="quality">
    <!-- <h1>WHY CHOOSE US?</h1> -->
    <P><b>Global Reach:</b> Benefit from our extensive network and reach customers in diverse markets.</P>
    <p><b>Efficiency:</b> We streamline the export process, ensuring timely and efficient delivery of your products.</p>
    <p><b>Tailored Solutions:</b> Our team crafts personalized export solutions to match the unique requirements of your business.</p> 
    <p>From logistics and documentation to market analysis and regulatory compliance, Nethi Export And Import is your 
      one-stop solution for all things export-related. Whether you are a seasoned exporter or exploring international trade for 
      the first time, we are here to guide you through the complexities and make your global business endeavors a 
      success.</p>
<div>

<div class="quality sec2">
    <h1>Join Hands with Nethi Export and Import</h1>
    <P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Discover the world of possibilities that international trade offers. 
        Join hands with Nethi Export and Import and let us be your partner in global success.
    </P>
    <p >Explore our comprehensive export services today and take your business to new heights on the global stage.</p>
    <div>
        <img src="../../assets/images/ei.jpg" alt="" class="ei"/>
    </div>
<div>

<!-- </div> -->