<div class="product-header">
    <div class="text-align-header">
        <h1>ORGANIC FOODS</h1>
    </div>
</div>
<div class="section">
    <div class="v-flex">
        <div>
            <h3>NOODLES, PASTA AND MAC</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indulge in a world of delectable options with our range of noodles, 
                pasta, and macaroni. Crafted from the finest ingredients, our products promise a symphony of 
                flavors and textures. From classic comfort foods to innovative culinary creations, our versatile 
                selection caters to every palate. Elevate your dining experience with our premium noodles, pasta,
                 and macaroni, perfect for creating memorable meals that delight the senses.</p>
        </div>
        <div>
            <img src="../../assets/images/F1.jpg" alt="" class="center" />
        </div>
    </div>
    <div class="v-flex">
            <div>
                <img src="../../../assets/images/JAGG.jpg" alt="" class="center" />
            </div>
            <div>            
            <h3>FARM JAGGERY</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Savor the sweetness of nature with our farm-fresh jaggery. 
                Handcrafted with care, our jaggery is a pure and natural sweetener, free from additives. 
                Harvested from the finest sugarcane, it encapsulates the rich, authentic flavor of the farm. 
                Elevate your culinary creations with our premium farm jaggery, enhancing both taste and 
                well-being in every delightful bite</p>
        </div>
    </div>
    <div class="v-flex">
        <div>            
            <h3>FARM CANDY</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Experience the farm-fresh goodness in every bite with our 
                delightful farm candies. Handcrafted from the finest ingredients, these candies capture 
                the essence of nature's sweetness. Indulge in the pure flavors of the farm, offering a 
                delectable treat for all ages. Satisfy your sweet cravings with our premium farm candies, 
                a burst of natural goodness in every delightful piece.</p>
        </div>
        <div>
            <img src="../../../assets/images/candy.jpg" alt="" class="center" />
        </div>
    </div>
</div>