<div class="product-header">
    <div class="text-align-header">
        <h1>LEAVES</h1>
    </div>
</div>
<div class="section">
    
    <div class="v-flex">
        <div>
            <h3>BANANA LEAF</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Step into a world where nature meets culinary tradition, 
                where Nethi exports and imports brings you the timeless elegance and eco-friendly charm 
                of banana leaves. As champions of sustainable packaging and culinary artistry, we offer premium 
                banana leaves that elevate your dining experience while contributing to a greener planet.</p>
        </div>
        <div>
            <img src="../../assets/images/l1.jpg" alt="" class="center" />
        </div>
    </div>
    <div class="v-flex">
        <div>
            <img src="../../assets/images/l2.jpg" alt="" />
        </div>
        <div>
            <h3>CURRY LEAF</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As advocates for culinary excellence and wellness, we bring you 
                premium curry leaves that add a touch of aromatic magic to your dishes while promoting a 
                healthier lifestyle. Known for their distinctive aroma and rich flavor, curry leaves are more 
                than just a spice—they're a culinary treasure. we recognize the unique qualities of curry leaves,
                 carefully cultivating and delivering them to you in their freshest form.</p>
        </div>
    </div>
    <div class="v-flex">
        <div>
            <h3>MINT LEAF</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mint leaves, with their cool and revitalizing aroma, 
                have been a symbol of freshness in kitchens around the world. we take pride in offering you 
                the finest, hand-picked mint leaves, cultivated with care to ensure the utmost quality.</p>
            </div>
        <div>
            <img src="../../assets/images/l3.jpg" alt="" />
        </div>
    </div>
    <div class="v-flex">
        <div>
            <img src="../../assets/images/l4.jpg" alt="" />
        </div>
        <div>
            <h3>CORIANDER LEAF</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our coriander leaves are sourced from reputable growers, 
                ensuring a burst of freshness that breathes life into your dishes. Experience the robust 
                and citrusy notes of our premium coriander leaves, adding a burst of freshness to a variety 
                of cuisines.</p>
            </div>
    </div>
</div>