<section class="header">

</section>


<div class="navbar" >
<div class="logo-flex">
    <img src="../assets/images/logo.png" alt="">
    <h2>NETHI EXPORT AND IMPORT</h2>
</div>
<div class="navbar-flex" id="open" [ngClass]="status ? 'success' : 'hidden'">
    <div id="open" [ngClass]="status ? 'success' : 'hidden'">
    <ul>
    <div class="menu-close" >
        <h3 (click)="clickEvent()">&#8999;</h3>
    </div>
    <a routerLink="/home"><li>HOME</li></a>
    <a routerLink="/aboutus"><li>ABOUT US</li></a>
    <a><li class="nested-nav">OUR PRODUCTS<br>
        <ul class="list2">                 
        <li class="blank"></li>
        <a routerLink="/products/vegetables"><li>VEGETABLES</li></a>
        <a routerLink="/products/cocoProducts"><li>COCONUT PRODUCT</li></a>
        <a routerLink="/products/rice"><li>RICE</li></a>
        <a routerLink="/products/millets"><li>MILLETS</li></a>
        <a routerLink="/products/ecoFriendly"><li>ECO-FRIENDLY</li></a>
        <a routerLink="/products/leaves"><li>LEAVES</li></a>
        <li class="organic">ORGANIC PRODUCTS&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &#10148;<br />
          <ul class="list3">
            <a routerLink="/products/organic/organicFertilizer"><li>&#10148;&nbsp;&nbsp;&nbsp;FERTILIZER</li></a>
            <a routerLink="/products/organic/organicFoods"><li>&#10148;&nbsp;&nbsp;&nbsp;&nbsp;FOODS</li></a>
            <a routerLink="/products/organic/organicCosmetics"><li>&#10148;&nbsp;&nbsp;&nbsp;COSMETICS</li></a>
          </ul>
        </li>
        <a routerLink="/products/organicProducts"><li>OTHER PRODUCTS</li></a>  
      </ul>
    </li></a>
    <a><li>GALLERY</li></a>
    <a routerLink="/contactus"><li>CONTACT US&nbsp;&nbsp;&nbsp;</li></a>
    </ul>
    </div>
</div>
<div class="menu-open">
    <h3 (click)="clickEvent()">&#9776;</h3>
</div>
</div>
