.product-header{
    margin-top: 30px;
    padding-top: 80px;
    height: 150px;
    background-color: rgb(230, 230, 230);
    color: black;
}
.text-align-header{
    margin: 10px auto;
    max-width: 1600px;
    text-align: left;
}
h1{ 
    font-size: 40px;
}
.section{
    margin: 20px auto;
    max-width: 1600px;
    line-height: 35px;
    font-size: 23px;
    word-spacing: 10px;
}
.v-flex{
    display: flex;
    gap: 30px;
}
.v-flex div{
    margin-top: 20px;
}
@media screen and (max-width: 1600px) {
    .section{
        margin: 0 20px;
    }
}
@media screen and (max-width: 1000px) {
    .product-header{
        margin-top: 50px;
    }
    .text-align-header{
        text-align: center;
    }
    .v-flex{
        display: block;
    }
    .section{
        text-align: center;
    }
}