<app-navbar />
<div class="product-header">
    <div class="text-align-header">
        <h1>ECO-FRIENDLY PRODUCTS</h1>
    </div>
</div>
<div class="section">
    
    <div class="v-flex">
        <div>
            <h3>ORGANIC STRAW</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Experience the purity of nature with our organic straw products. 
                Harvested sustainably, our organic straw is ideal for eco-friendly and biodegradable solutions. 
                From straws to packaging, make a positive impact with our natural and renewable organic straw 
                options, promoting a greener and more sustainable lifestyle.</p>
        </div>
        <div>
            <img src="../../assets/images/l1.jpg" alt="" class="center" />
        </div>
    </div>
    <div class="v-flex">
        <div>
            <img src="../../assets/images/l2.jpg" alt="" />
        </div>
        <div>
            <h3>ORGANIC CUPS</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sip sustainably with our organic tea cups. 
                Crafted from natural and eco-friendly materials, these cups enhance your tea-drinking experience 
                while promoting environmental responsibility. Elevate your moments of relaxation with our 
                thoughtfully designed organic tea cups, where every sip is a blend of taste and conscious living.</p>
        </div>
    </div>
    <div class="v-flex">
        <div>
            <h3>PRODUCTS USING BANANA FIBRE</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Explore the versatility of sustainable living with our banana fiber 
                products. From eco-friendly textiles to durable accessories, our offerings harness the strength 
                and natural beauty of banana fibers. Embrace a conscious lifestyle with our thoughtfully crafted 
                items, where style meets sustainability in every fiber.</p>
            </div>
        <div>
            <img src="../../assets/images/l3.jpg" alt="" />
        </div>
    </div>
    <div class="v-flex">
        <div>
            <img src="../../assets/images/l4.jpg" alt="" />
        </div>
        <div>
            <h3>CLAY PRODUCTS</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Immerse yourself in the earthy charm of our clay products. 
                Handcrafted with precision, our clay items, ranging from cookware to decorative pieces, 
                bring a touch of authenticity to your home. Experience the timeless appeal of natural materials, 
                seamlessly blending functionality with artisanal craftsmanship.</p>
            </div>
    </div>
</div>

<app-footer />
<div class="whatsapp">
  <a href="http://wa.me/+918248339060" target="_blank">
    <img class="w-img" src="../assets/images/whatsapp.256x256.png" alt="" />
  </a>
</div>