<div class="product-header">
    <div class="text-align-header">
        <h1>RICE</h1>
    </div>
</div>
<div class="section">
    <div class="v-detail">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transform your meals with our premium rice, cultivated with meticulous 
            attention to quality. Grown in fertile fields, our rice embodies a perfect blend of flavor and 
            texture, ensuring a delightful dining experience. From fluffy basmati to hearty brown rice, our 
            diverse selection caters to every palate and culinary preference. Elevate your cooking with our 
            exceptional rice, the foundation for wholesome and delicious meals that bring people together.</p>
    </div>
</div>