<app-navbar />
<div class="product-header">
    <div class="text-align-header">
        <h1>RICE</h1>
    </div>
</div>
<div class="section">
    <div class="v-detail">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transform your meals with our premium rice, cultivated with meticulous 
            attention to quality. Grown in fertile fields, our rice embodies a perfect blend of flavor and 
            texture, ensuring a delightful dining experience. From fluffy basmati to hearty brown rice, our 
            diverse selection caters to every palate and culinary preference. Elevate your cooking with our 
            exceptional rice, the foundation for wholesome and delicious meals that bring people together.</p>
    </div>

    <div class="v-flex">
      <div>
          <h3>RAKTHASHALI RICE</h3>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Discover the richness of Rakthashali rice in every grain we offer. 
            Sourced from the fertile fields of Kerala, this unique red rice variety brings a burst of color,
             distinctive flavor, and wholesome nutrition to your table. Embrace the cultural heritage and health 
             benefits of Rakthashali as you make a conscious choice to support local agriculture. Elevate your 
             culinary experience with our premium Rakthashali rice, a true gem in the world of wholesome and 
             sustainable grains</p>
      </div>
      <div>
          <img src="../../assets/images/RR.jpg" alt="" class="center" />
      </div>
  </div>
  <div class="v-flex">
      <div>
          <img src="../../assets/images/HPR.jpg" alt="" />
      </div>
      <div>
          <h3>HAND POUND RICE</h3>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Experience the traditional touch with our hand-pounded rice, 
            where each grain is meticulously processed to preserve its natural goodness. Our hand-pounded 
            rice is crafted with care, embracing time-honored methods that enhance the texture and flavor. 
            Enjoy the authentic taste of this wholesome rice variety, a testament to our commitment to quality 
            and preserving culinary heritage.</p>
      </div>
  </div>
  <div class="v-flex">
    <div>
        <h3>KATTUYANAM RICE</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kattuyanam rice contains zinc, Manganese and Iron. Traditional red 
          rice variety of Kattuyanam Kaikuthal Brown rice is a important one in bone formation. Kattuyanam 
          Traditional Red rice helps to Delay our skin from Aging</p>
    </div>
    <div>
        <img src="../../assets/images/KY.jpg" alt="" class="center" />
    </div>
</div>
<div class="v-flex">
    <div>
        <img src="../../assets/images/KK.jpg" alt="" />
    </div>
    <div>
        <h3>KARUPPU KAVUNI</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Karuppu Kavuni, commonly known as Black Kavuni rice, is a distinctive 
          rice variety originating from the southern regions of India, particularly Tamil Nadu. Renowned for 
          its deep black or purple hue, this aromatic rice carries a unique nutty flavor. Rich in antioxidants 
          and nutrients, Karuppu Kavuni rice not only adds a visually striking element to dishes but also 
          contributes to the preservation of traditional agricultural practices. Its culinary versatility 
          and nutritional benefits make it a cherished and culturally significant grain</p>
    </div>
</div>

  
</div>

<app-footer />
<div class="whatsapp">
  <a href="http://wa.me/+918248339060" target="_blank">
    <img class="w-img" src="../assets/images/whatsapp.256x256.png" alt="" />
  </a>
</div>