<div class="product-header">
    <div class="text-align-header">
        <h1>ORGANIC FERTILIZER</h1>
    </div>
</div>
<div class="section">
    <div class="v-flex dung">
        <div>
            <h2>COW DUNG</h2>
            <P>Boost plant growth naturally with our organic cow dung fertilizer, 
                rich in nutrients for healthier and more sustainable gardens. 
                Choose a natural alternative for flourishing plants</P>
        </div>
        <div>
            <h2>GOAT DUNG</h2>
            <P>Fertilize your garden organically with our nutrient-rich goat dung, 
                promoting soil health and sustainable plant growth. A natural choice 
                for thriving gardens.</P>
        </div>
        <div>
            <h2>CHICKEN DUNG</h2>
            <P>Enhance your soil fertility with our premium chicken dung fertilizer. 
                Packed with essential nutrients, it's the natural solution for robust and 
                healthy plant growth.</P>
        </div>
    </div>
    <div class="v-flex">
        <div>
            <h3>VERMICOMPOST</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;we're passionate about cultivating a greener, healthier 
                planet through the power of nature. As a leading provider of premium vermicompost, 
                we bring you an eco-friendly solution that not only enriches your soil but also nurtures 
                sustainable agriculture. we're passionate about cultivating a greener, healthier planet through 
                the power of nature. As a leading provider of premium vermicompost, we bring you an eco-friendly 
                solution that not only enriches your soil but also nurtures sustainable agriculture.</p>
        </div>
        <div>
            <img src="../../assets/images/F1.jpg" alt="" class="center" />
        </div>
    </div>
    <div class="v-flex dung">
        <div>
            <h2>BIO FERTILIZER</h2>
            <P>Unlock the power of nature for your plants with our bio-fertilizer. 
                Harnessing beneficial microorganisms, it promotes soil health and 
                maximizes nutrient absorption for vibrant, eco-friendly growth.</P>
        </div>
        <div>
            <h2>BIO TONIC</h2>
            <P>Elevate your plant's vitality with our Bio Tonic. A rejuvenating blend of 
                natural nutrients and growth stimulants, it's the perfect solution for healthier, 
                thriving plants</P>
        </div>
        <div>
            <h2>BIO PELLETS</h2>
            <P>Nourish your soil sustainably with our Bio Pellets. These eco-friendly pellets 
                release essential nutrients slowly, promoting long-lasting plant health and 
                vigorous growth.</P>
        </div>
    </div>
</div>