<div class="product-header">
    <div class="text-align-header">
        <h1>COCONUT</h1>
    </div>
</div>
<div class="section">
    <div class="v-detail">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>we're</b> on a mission to bring you the natural goodness and versatility 
            of coconuts. Nestled in the heart of tropical abundance, we take pride in offering a diverse array of 
            coconut products that not only tantalize your taste buds but also elevate your wellness journey. 
            From the refreshing hydration of coconut water to the rich creaminess of coconut milk and the nourishing 
            benefits of coconut oil, our range of products celebrates the myriad ways coconuts can enhance your 
            lifestyle.</p>
    </div>
    <div class="v-flex">
        <div>
            <h3>COCO PEAT</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;we bring you the natural marvel of coco peat, 
                a sustainable and versatile solution that nurtures both plants and the planet. 
                Rooted in our commitment to eco-friendly alternatives, our coco peat products offer a superior 
                growing medium for a wide range of plants, fostering healthy growth and contributing to a greener,
                 more sustainable future. Derived from the fibrous husk of coconuts, coco peat is a renewable and 
                 organic substrate that has revolutionized the way we nurture plants.</p>
        </div>
        <div>
            <img src="../../assets/images/c1.jpg" alt="" class="center" />
        </div>
    </div>
    <div class="v-flex">
        <div>
            <img src="../../assets/images/c2.jpg" alt="" />
        </div>
        <div>
            <h3>COCO PITH</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;we bring you the natural excellence of coir pith, 
                a versatile and sustainable solution for gardening and horticulture. Rooted in our commitment 
                to eco-friendly alternatives, our coir pith products offer an organic and nutrient-rich medium 
                to nurture your plants, ensuring optimal growth and contributing to a healthier, more sustainable
                planet. Derived from the fibrous husk of coconuts, coir pith, also known as coco peat, is a 
                remarkable byproduct with a multitude of benefits for plant cultivation.</p>
        </div>
    </div>
    <div class="v-flex">
        <div>
            <h3>COCO FIBER</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;we invite you to explore the wonders of coco fiber, 
                a natural and sustainable solution that brings the essence of the coconut palm to your doorstep. 
                Rooted in our commitment to eco-friendly alternatives, our premium coco fiber products offer a range 
                of applications, from gardening to various industrial uses, all while promoting sustainability and 
                environmental consciousness.</p>
        </div>
        <div>
            <img src="../../assets/images/v3.jpg" alt="" class="center" />
        </div>
    </div>
</div>