<app-navbar />
<div class="product-header">
    <div class="text-align-header">
        <h1>PRODUCT GALLERY</h1>
    </div>
</div>
<section >
<div class="gal-section">
    <div>
        <div class="image" id="image" routerLink="/gallery/fertilizer">
            <img class="img" id="myBtn img"  onclick="abc()" src="../../assets/images/gallery/COCO.jpg" alt="" /><br>
            <p><b>Organic Fertilizer</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image" routerLink="/gallery/onion">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/gallery/ONION.jpg" alt="" /><br>
            <p><b>Onion</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image" routerLink="/gallery/rice-gallery">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/gallery/rice.jpg" alt="" /><br>
            <p><b>Rice</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image" routerLink="/gallery/potato">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/gallery/vegetables.jpg" alt="" /><br>
            <p><b>Potato</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/gallery/leavess.jpg" alt="" /><br>
            <p><b>Curry Leaves</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/bf.jpg" alt="" /><br>
            <p><b>Banana fibre</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/candy.jpg" alt="" /><br>
            <p><b>Organic Candy</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/straw.jpg" alt="" /><br>
            <p><b>Organic Straw</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/SNACKS.jpg" alt="" /><br>
            <p><b>Snacks</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/LM.jpg" alt="" /><br>
            <p><b>Little Millets</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/c1.jpg" alt="" /><br>
            <p><b>Coconut Fibre</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/RR.jpg" alt="" /><br>
            <p><b>Rakthashali Rice</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/CASHEW.jpg" alt="" /><br>
            <p><b>Cashews</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/charcoal.jpg" alt="" /><br>
            <p><b>Charcoal</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/l1.jpg" alt="" /><br>
            <p><b>Banana Leaves</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/HONEY.jpg" alt="" /><br>
            <p><b>Honey</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/gallery/papad-1.jpg" alt="" /><br>
            <p><b>Papad</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/coco1.jpg" alt="" /><br>
            <p><b>Coconut</b></p>
        </div>
    </div>
    <div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/gallery/mint-leaves-bunch.jpg" alt="" /><br>
            <p><b>Mint Leaves</b></p>
        </div>
    </div>
</div>
</section>

<app-footer />
