<app-navbar />
<div class="product-header">
    <div class="text-align-header">
        <h1>ORGANIC COSMETICS</h1>
    </div>
</div>

<div class="section">
    <div class="v-flex dung">
        <div>
            <h2>SOAP</h2>
            <P>Experience pure indulgence with our organic soap, crafted with natural ingredients 
                for a gentle and refreshing cleanse. Free from harsh chemicals, it nourishes and 
                rejuvenates your skin, leaving you feeling revitalized every day</P>
        </div>
        <div>
            <h2>SHAMPOO</h2>
            <P>Elevate your hair care routine with our premium shampoo. Formulated with nourishing ingredients, 
               it cleanses and revitalizes, leaving your hair silky, shiny, and beautifully healthy.</P>
        </div>
        <div>
            <h2>HERBAL PRODUCTS</h2>
            <P>Discover the power of nature with our herbal products. From skincare to wellness, 
               our thoughtfully crafted range harnesses the benefits of natural ingredients for 
               a holistic and rejuvenating experience.</P>
        </div>
    </div>
</div>
<app-footer />
<div class="whatsapp">
  <a href="http://wa.me/+918248339060" target="_blank">
    <img class="w-img" src="../assets/images/whatsapp.256x256.png" alt="" />
  </a>
</div>