<app-navbar ></app-navbar>
<div class="product-header">
    <div class="text-align-header">
        <h1>MILLETS</h1>
    </div>
</div>
<div class="section">
    <div class="v-detail">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Embrace wholesome nutrition with our diverse range of millets. 
            Packed with essential nutrients and gluten-free, our millets offer a versatile and healthy 
            alternative for a balanced diet. From foxtail to pearl millet, discover the rich flavors and 
            nutritional benefits that make these ancient grains a smart choice for modern, mindful living.</p>
    </div>
</div>

<app-footer />
<div class="whatsapp">
  <a href="http://wa.me/+918248339060" target="_blank">
    <img class="w-img" src="../assets/images/whatsapp.256x256.png" alt="" />
  </a>
</div>