.product-header{
    margin-top: 30px;
    padding-top: 80px;
    height: 150px;
    background-color: rgb(230, 230, 230);
    color: black;
}
.text-align-header{
    margin: 10px auto;
    max-width: 1600px;
    text-align: left;
}
h1{ 
    font-size: 40px;
}