<app-navbar ></app-navbar>
<div class="product-header">
    <div class="text-align-header">
        <h1>MILLETS</h1>
    </div>
</div>
<div class="section">
    <div class="v-detail">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Embrace wholesome nutrition with our diverse range of millets. 
            Packed with essential nutrients and gluten-free, our millets offer a versatile and healthy 
            alternative for a balanced diet. From foxtail to pearl millet, discover the rich flavors and 
            nutritional benefits that make these ancient grains a smart choice for modern, mindful living.</p>
    </div>

  <div class="v-flex">
    <div>
        <h3>FOXTAIL MILLETS</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Foxtail millet, scientifically known as Setaria italica, is a nutrient-dense, gluten-free ancient grain 
          that has been cultivated for centuries. Known for its slender, fox-tail-like appearance, this millet 
          is a rich source of essential nutrients such as dietary fiber, iron, and magnesium.</p>
    </div>
    <div>
        <img src="../../assets/images/FM.jpg" alt="" class="center" />
    </div>
  </div>
  <div class="v-flex">
    <div>
      <img src="../../assets/images/KM.jpg" alt="" />
    </div>
    <div>
        <h3>KODO MILLETS</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kodo millet, scientifically known as Paspalum scrobiculatum, is a resilient and nutritious 
          ancient grain. Renowned for its drought resistance, Kodo millet is a rich source of fiber, protein, and 
          essential nutrients. Its versatile nature allows for various culinary applications, making it a valuable 
          addition to a balanced and health-conscious diet.</p>
    </div>
  </div>
  <div class="v-flex">
    <div>
      <h3>LITTLE MILLET</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Little millet, scientifically known as Panicum sumatrense, is a 
        small-grained, gluten-free millet rich in nutrients. Packed with fiber, minerals, and antioxidants, 
        little millets offer excellent digestive benefits and support overall health. With a quick cooking time 
        and a mildly nutty flavor, they are a versatile addition to various dishes, providing a nutritious and 
        satisfying alternative for those seeking diverse and wholesome grains in their diet.</p>
    </div>
    <div>
          <img src="../../assets/images/LM.jpg" alt="" />
    </div>
  </div>
  <div class="v-flex">
    <div>
      <img src="../../assets/images/BM.jpg" alt="" />
    </div>
    <div>
        <h3>BARNYARD MILLETS</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Barnyard millets, also known as 'Kuthiraivali' or 'Sanwa,' are a 
          gluten-free ancient grain rich in fiber and essential nutrients. Offering a nutty flavor, these 
          millets are a versatile addition to a balanced diet, suitable for various culinary creations like 
          porridge, upma, or as a rice substitute. Embrace the health benefits and wholesome goodness of 
          barnyard millets for a nutritious and flavorful eating experience.</p>
    </div>
  </div>
</div>


<app-footer />
<div class="whatsapp">
  <a href="http://wa.me/+918248339060" target="_blank">
    <img class="w-img" src="../assets/images/whatsapp.256x256.png" alt="" />
  </a>
</div>