<app-navbar />
<section >
    <h1>FERTILIZER</h1>
    <div class="gal-section">
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../../assets/images/gallery-2/l1.jpg" alt="" /><br>
        </div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../../assets/images/gallery-2/l2.jpg" alt="" /><br>
        </div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../../assets/images/gallery-2/l3.jpg" alt="" /><br>
        </div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../../assets/images/gallery-2/l4.jpg" alt="" /><br>
        </div>
    </div>
</section>
<app-footer />
