<app-navbar />
<div class="product-header">
    <div class="text-align-header">
        <h1>OTHER PRODUCTS</h1>
    </div>
</div>
<div class="section">
    <div class="v-flex">
        <div>
            <h3>PULSES</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Discover the goodness of our premium pulses, sourced for quality 
                and taste. Packed with protein, fiber, and essential nutrients, our range of pulses provides 
                a nutritious foundation for wholesome meals. From lentils to chickpeas, enjoy the natural 
                goodness that adds both flavor and nourishment to your diet. Elevate your culinary experience 
                with our carefully selected pulses, contributing to a healthy and balanced lifestyle.</p>
        </div>
        <div>
            <img src="../../assets/images/pulses.jpg" alt="" class="center" />
        </div>
    </div>
    <div class="v-flex">
        <div>
            <img class="left" src="../../assets/images/charcoal.jpg" alt="" />
        </div>
        <div>
            <h3>CHARCOAL</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Experience the pure essence of grilling with our high-quality 
                charcoal. Sourced for its superior heat and long-lasting burn, our charcoal enhances the 
                flavor of your favorite dishes. Whether for barbecue enthusiasts or professional chefs, 
                our charcoal delivers the perfect balance of performance and aroma, making every cooking 
                experience exceptional.</p>
        </div>
    </div>
    <div class="v-flex">
        <div>
        <h3>HONEY</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Savor the pure essence of nature with our premium honey. 
            Harvested from pristine landscapes, our honey boasts unrivaled flavor and quality. 
            Packed with natural sweetness and health benefits, it's the perfect addition to your 
            culinary creations or a wholesome sweetener for beverages. Elevate your taste experience 
            with our exquisite honey, a testament to the purity and richness of the hive</p>
        </div>
        <div>
            <img src="../../assets/images/HONEY.jpg" alt="" />
        </div>
    </div>
    <div class="v-flex">
        <div>
            <img class="left" src="../../assets/images/SNACKS.jpg" alt="" />
        </div>
        <div>
            <h3>SNACKS</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Discover a world of irresistible flavors with our diverse range 
                of snacks. From savory to sweet, our handpicked selection promises a satisfying crunch or a 
                delightful chew in every bite. Crafted with care and quality ingredients, our snacks are perfect 
                for any occasion, offering a tasty and convenient treat that caters to all preferences. 
                Elevate your snacking experience with our delicious and diverse snack options, ensuring 
                every moment is a moment to savor.</p>
        </div>
    </div>
    <div class="v-flex">
        <div>
            <h3>CASHEWS</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indulge in the buttery richness of our premium cashews. 
                Sourced from the finest orchards, our cashews are meticulously selected for their size and 
                quality. Packed with heart-healthy monounsaturated fats and essential nutrients, our cashews 
                offer a delicious and nutritious snack option. Elevate your snacking experience with the 
                wholesome goodness of our premium cashews, perfect for any occasion.</p>
        </div>
        <div>
            <img src="../../assets/images/CASHEW.jpg" alt="" />
        </div>
    </div>
</div>

<app-footer />
<div class="whatsapp">
  <a href="http://wa.me/+918248339060" target="_blank">
    <img class="w-img" src="../assets/images/whatsapp.256x256.png" alt="" />
  </a>
</div>