<div class="product-header">
    <div class="text-align-header">
        <h1>OTHER PRODUCTS</h1>
    </div>
</div>
<div class="section">
    <div class="v-flex">
        <div>
            <h3>PULSES</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Discover the goodness of our premium pulses, sourced for quality 
                and taste. Packed with protein, fiber, and essential nutrients, our range of pulses provides 
                a nutritious foundation for wholesome meals. From lentils to chickpeas, enjoy the natural 
                goodness that adds both flavor and nourishment to your diet. Elevate your culinary experience 
                with our carefully selected pulses, contributing to a healthy and balanced lifestyle.</p>
        </div>
        <div>
            <img src="../../assets/images/pulses.jpg" alt="" class="center" />
        </div>
    </div>
    <div class="v-flex">
        <div>
            <img src="../../assets/images/charcoal.jpg" alt="" />
        </div>
        <div>
            <h3>CHARCOAL</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Experience the pure essence of grilling with our high-quality 
                charcoal. Sourced for its superior heat and long-lasting burn, our charcoal enhances the 
                flavor of your favorite dishes. Whether for barbecue enthusiasts or professional chefs, 
                our charcoal delivers the perfect balance of performance and aroma, making every cooking 
                experience exceptional.</p>
        </div>
    </div>
</div>