
<div class="container">
    <div class="border-box">
        <div>
            <h3 class="font-weight-bold">Login</h3>
        </div>
        <div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div >
                    <div class="inputField" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')"> 
                        <span class="fa fa-user p-2"></span> 
                        <input formControlName="username" type="text" placeholder="Username" required> 
                    </div>
                </div>
                <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" >*Username is required*</small>
                <!--  -->
                <div>
                    <div class="inputField" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"> 
                        <span class="fa fa-lock px-2"></span> 
                        <input formControlName="password" [type]="type" placeholder="Password"> 
                        <button type="button" (click)="hideShowPass()" class="eye"> 
                            <span class="fa {{eyeIcon}}"></span> 
                        </button>                                    
                    </div>
                </div>
                <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" >*Password is required*</small>
                <!--  -->
                <!-- <div> <a id="forgot" data-bs-toggle="modal" data-bs-target="#exampleModal" class="fp">Forgot password?</a> </div> -->
                <button type="submit" class="btn">Login</button>
                <div class="acc">Don't have an account? <a id="forgot" routerLink="/signin">Sign up</a> </div>
            </form>
        </div>
    </div>
</div>

