<div class="product-header">
    <div class="text-align-header">
        <h1>VEGETABLES</h1>
    </div>
</div>
<div class="section">
    <div class="v-detail">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>we</b> are dedicated to bringing you the freshest, most vibrant vegetables straight from the farm to your table.
            Rooted in a passion for quality and a commitment to sustainable agriculture, our range of vegetables is 
            carefully cultivated to nourish your body and delight your palate. Vegetables are the cornerstone of a 
            balanced, nutritious diet and we take pride in offering a diverse selection of nature's bounty. 
            From crisp greens to vibrant root vegetables, each item is handpicked at the peak of freshness, 
            ensuring you receive the highest quality produce for your culinary creations.</p>
    </div>
    <div class="v-flex">
        <div>
            <h3>ONION</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our onions are sourced from trusted growers who understand the art and science of onion 
                cultivation. Carefully harvested and selected for quality, each onion reflects a commitment 
                to excellence and freshness. Join us on a journey from the fertile fields where onions are 
                nurtured to the heart of your kitchen. Whether you're a culinary enthusiast, a health-conscious 
                consumer, or a chef pushing the boundaries of flavor, our onions are here to elevate your 
                culinary experience.</p>
        </div>
        <div>
            <img src="../../assets/images/v1.jpg" alt="" class="center" />
        </div>
    </div>
    <div class="v-flex">
        <div>
            <img src="../../assets/images/v2.jpg" alt="" />
        </div>
        <div>
            <h3>POTATO</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Embark on a journey through the fields of excellence with Nethi exports 
                and imports. As a leading player in the world of potato exports, we take pride in delivering the 
                finest potatoes to global markets. Our commitment to quality, sustainability, and unparalleled service 
                sets us apart in the realm of agricultural exports. we cultivate and export a diverse range of premium
                potatoes, each a testament to our dedication to superior quality and taste.</p>
        </div>
    </div>
</div>