<app-navbar />
<section >
    <h1>FERTILIZER</h1>
    <div class="gal-section">
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/gallery-2/f1.jpg" alt="" /><br>
        </div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/gallery-2/f2.jpg" alt="" /><br>
        </div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../assets/images/gallery-2/f3.jpg" alt="" /><br>
        </div>
    </div>
</section>
<app-footer />
