<div class="container">
    <div class="row">
    <div class="border-box">
        <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Sign Up</h3>
        </div>

        <div class="panel-body p-3">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                
                <!--  -->
                <div class="formGroup">
                <div class="inputField" [class.error]="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')"> 
                    <span class="fa fa-user"></span> 
                    <input formControlName="firstName" type="text" placeholder="First Name"> 
                </div>
                </div>
                <small *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')" >*First Name is required*</small>
                
                <!--  -->
                <div class="formGroup">
                <div class="inputField" [class.error]="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')"> 
                    <span class="fa fa-user"></span> 
                    <input formControlName="lastName" type="text" placeholder="Last Name"> 
                </div>
                </div>
                <small *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')" >*Last Name is required*</small>
                
                <!--  -->
                <div class="formGroup">
                <div class="inputField" [class.error]="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')"> 
                    <span class="fa fa-user"></span> 
                    <input formControlName="userName" type="text" placeholder="User Name"> 
                </div>
                </div>
                <small *ngIf="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')" >*Username is required*</small>
                
                <!--  -->
                <div class="formGroup">
                <div class="inputField" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')"> 
                    <span class="fa fa-user"></span> 
                    <input formControlName="email" type="text" placeholder="Email"> 
                </div>
                </div>
                <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" >*Email is required*</small>
                
                <!--  -->
                <div class="formGroup">
                    <div class="inputField" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')"> 
                    <span class="fa fa-lock"></span> 
                    <input formControlName="password" [type]="type" placeholder="Password"> 
                    <button (click)="hideShowPass()" type="button" class="eye"> 
                        <span class="fa {{eyeIcon}}"></span> 
                    </button>                                    
                </div>
                </div>
                <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" >*Password is required*</small>
                
                <!--  -->
                <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Signup</button>
                <div class="acc">Already have an account? <a id="forgot" routerLink="/login" href="#">Login</a> </div>
            </form>
        </div>
    </div>
    </div>
</div>
