<app-navbar />
<section >
    <h1>FARM ONION</h1>
    <div class="gal-section">
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../../assets/images/gallery-2/o1.jpg" alt="" /><br>
        </div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../../assets/images/gallery-2/o2.jpg" alt="" /><br>
        </div>
        <div class="image" id="image">
            <img class="img" id="myBtn img" onclick="abc()" src="../../../assets/images/gallery-2/o3.jpg" alt="" /><br>
        </div>
    </div>
</section>
<app-footer />
